<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/module/SynergyDataGridTest/Bootstrap.php" colors="true" backupGlobals="false" backupStaticAttributes="false">

    <testsuites>
        <testsuite name="Synergy Data Grid Test Suite">
            <directory suffix="Test.php">tests/module/SynergyDataGridTest</directory>
        </testsuite>
    </testsuites>
    <php>
        <includePath>./src</includePath>
        <includePath>./vendor</includePath>
    </php>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>